#what .items{
    /* display: block; */
    flex-direction: column;
}
#what .items .item {
    display: flex;
    text-align: left;
}

#what .items .item div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
}
#what .items .item i {
    margin-right: 1rem;
    align-self: center;
    height: 2rem;
    width: 2rem;
}




@media(max-width:760px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo{
        margin-bottom: 1.5rem;

    }
    #navbar ul li a {
        color: white;
        /* padding: .5rem; */

    }
    #navbar ul li a:hover,
    #navbar ul li a:active {
        color: #93cb93;
        background: #444;

    }
#showcase {
    background: #333 url("./image_resources/city.jpg") no-repeat center center/cover;
    height: 150vh;
    color: white;
    /* filter: grayscale(.75) */
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: rgba(0, 0, 0, .6)
}

    .l-heading {
        font-size: 1rem;
        margin-bottom: .25rem;
        line-height: 1em;
    }
    #who {
        display: block;
    }
    #who .who-img {
        display: none
    
    }
    #contact {
        display: block !important ;
    }
}
@media(max-heigth:569px){
    .l-heading{
        font-size: 1rem;
    }
    #showcase .showcase-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 93%;
        padding: 3rem;
        position: relative;
        top: 5rem;
        left: 0;
        background-color: rgba(0, 0, 0, .6)
    }
}