//variables
$website-width:1280px;
$main-color:#ffbc00;
$light-color:#f4f4f4;
$cream-color:#f7e2e2;
$medium-color:#ccc;
$dark-color:#333;
$bg_image:url('./img/showcase.jpg');



@function set-text-color($color){
    @if(lightness($color)>50){
        @return black;
    }@else{
        @return white;
    }
}